<!doctype html>
<html>
<head>
  <title>Integration-Node</title>
  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if}}
  <script
        src="http://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <header>
    <img class="hdr" src="/img/node-js.png" alt="Node.js">
    <div class="hdr">
      <h1>Integration-Node</h1>
      <nav>
        <ul class="top-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/log">Instance Log</a></li>
        <li><a href="/datasources">Data Sources</a></li>
        <li><a href="/integrations">Integrations</a></li>
      </ul>
      </nav>
    </div>
  </header>
  <div class="page-content">
  {{{body}}}
  </div>
  {{#if showTests}}
    <div id="mocha"></div>
    <script type="text/javascript" src="/vendor/mocha.js"></script>
    <script type="text/javascript" src="/vendor/chai.js"></script>
    <script type="text/javascript">
      mocha.ui('tdd');
      var assert = chai.assert;
    </script>
    <script type="text/javascript" src="/test/global.js"></script>
    {{#if pageTestScript}}
      <script type="text/javascript" scr="{{pageTestScript}}"></script>
    {{/if}}
    <script type="text/javascript">mocha.run();</script>
  {{/if}}
</body>
</html>
